@model HeartDiseasePrediction.ViewModel.RegisterMedicalAnalystVM
@{
    ViewData["Title"] = "Register Medical Analyst";
}

<section class="book_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <form asp-action="RegisterOfMedicalAnalyst">
                    <h4>
                        Add <span>Medical Analyst</span>
                    </h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row ">
                        <div class="form-group col-lg-6">
                            <label asp-for="@Model.FullName"></label>
                            <input asp-for="@Model.FullName" type="text" class="form-control" id="inputFullName" placeholder="Enter Full Name">
                            <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.FirstName"></label>
                            <input asp-for="@Model.FirstName" type="text" class="form-control" id="inputFirstname" placeholder="Enter First Name">
                            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.LastName"></label>
                            <input asp-for="@Model.LastName" type="text" class="form-control" id="inputLastName" placeholder="Enter Last Name">
                            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.PhoneNumber"></label>
                            <input asp-for="@Model.PhoneNumber" type="number" class="form-control" id="inputPhone" placeholder="Enter Phone Number">
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.Lab"></label>
                            <input asp-for="@Model.Lab" type="text" class="form-control" id="inputPhone" placeholder="Enter Lab">
                            <span asp-validation-for="@Model.Lab" class="text-danger"></span>
                            @*<label for="inputLab">Lab</label>
                            <select name="" class="form-control wide" id="inputLab">
                                <option value="NoSelected ">--Please Select Lab-- </option>
                                <option value="AlMohtaber ">AlMohtaber </option>
                                <option value="AlBorg ">AlBorg </option>
                            </select>*@
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.Gender"></label>
                            <select asp-for="@Model.Gender" class="form-control wide" id="inputGender" asp-items="Html.GetEnumSelectList<Gender>()">
                                <option value="NoSelected ">--Please Select Gender-- </option>
                            </select>
                            <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.BirthDate"></label>
                            <div class="input-group date" id="inputDate" data-date-format="mm-dd-yyyy">
                                <input asp-for="@Model.BirthDate" type="text" class="form-control" readonly>
                                <span class="input-group-addon date_icon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                            <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.Email"></label>
                            <input asp-for="@Model.Email" type="text" class="form-control" id="Email" placeholder="Enter Email">
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.Password">Password</label>
                            <input asp-for="@Model.Password" type="password" class="form-control" id="Password" placeholder="Enter Password">
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                            <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="Enter Confirm Password">
                            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button type="submit" class="btn ">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
@*@section Scripts{
    <script>
        $("#ImageUrl").on("change", function () {
            var output = document.getElementById("ImageUrlPreview");
            output.src = $(this).val();
        })
    </script>
}*@