@model HeartDiseasePrediction.ViewModel.RegisterUserVM

@{
	ViewData["Title"] = "Register User Page";
}

@*<section class="book_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <form asp-action="RegisterOfUser">
                    <h4>
                        Register <span>User</span>
                    </h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row ">
                        <div class="form-group col-lg-6">
                            <label asp-for="@Model.FullName"></label>
                            <input asp-for="@Model.FullName" type="text" class="form-control" id="inputFullName" placeholder="Enter Full Name">
                            <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.FirstName"></label>
                            <input asp-for="@Model.FirstName" type="text" class="form-control" id="inputFirstname" placeholder="Enter First Name">
                            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.LastName"></label>
                            <input asp-for="@Model.LastName" type="text" class="form-control" id="inputLastName" placeholder="Enter Last Name">
                            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.Insurance_No">Insurance Number</label>
                            <input asp-for="@Model.Insurance_No" type="number" class="form-control" id="inputInsuranceNo" placeholder="Enter Insurance Number">
                            <span asp-validation-for="@Model.Insurance_No" class="text-danger"></span>
                        </div>
                        
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.PhoneNumber"></label>
                            <input asp-for="@Model.PhoneNumber" type="number" class="form-control" id="inputPhone" placeholder="Enter Phone Number">
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.SSN">National Id</label>
                            <input asp-for="@Model.SSN" type="number" class="form-control" id="inputSSN" placeholder="Enter National Id">
                            <span asp-validation-for="@Model.SSN" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.Email"></label>
                            <input asp-for="@Model.Email" type="text" class="form-control" id="Email" placeholder="Enter Email">
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.Gender"></label>
                            <select asp-for="@Model.Gender" class="form-control wide" id="inputGender" asp-items="Html.GetEnumSelectList<Gender>()">
                                <option value="NoSelected ">--Please Select Gender-- </option>
                            </select>
                            <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.BirthDate"></label>
                            <div class="input-group date" id="inputDate" data-date-format="mm-dd-yyyy">
                                <input asp-for="@Model.BirthDate" type="text" class="form-control" readonly>
                                <span class="input-group-addon date_icon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                            <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.Password">Password</label>
                            <input asp-for="@Model.Password" type="password" class="form-control" id="Password" placeholder="Enter Password">
                            <span asp-validation-for="@Model.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.ConfirmPassword">Confirm Password</label>
                            <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" id="ConfirmPassword" placeholder="Enter Confirm Password">
                            <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button type="submit" class="btn ">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>*@

<style type="text/css">
    .border-md {
        border-width: 2px;
    }

    .btn-facebook {
        background: #405D9D;
        border: none;
    }

    .btn-facebook:hover, .btn-facebook:focus {
        background: #314879;
    }

    .btn-twitter {
        background: #42AEEC;
        border: none;
    }

    .btn-twitter:hover, .btn-twitter:focus {
         background: #1799e4;
    }



    body {
        min-height: 100vh;
    }

    .form-control:not(select) {
        padding: 1.5rem 0.5rem;
    }

    select.form-control {
        height: 52px;
        padding-left: 0.5rem;
    }

    .form-control::placeholder {
        color: #ccc;
        font-weight: bold;
        font-size: 0.9rem;
    }

    .form-control:focus {
        box-shadow: none;
    }
</style>
<div class="container">
    <div class="row py-5 mt-4 align-items-center">
        <div class="col-md-5 pr-lg-5 mb-5 mb-md-0">
            <img src="~/images/eldery_treatment_05.jpg" alt="" class="img-fluid mb-3 d-none d-md-block">
            <h1>Create an Account</h1>
            <p class="font-italic  mb-0">Create an account to sign In to hospital</p>
        </div>
        <div class="card card-body bg-light col-md-7 col-lg-6 ml-auto">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-4" style="text-align:center;">
                <h1><strong>Sign Up</strong></h1>
            </div>
            <form asp-action="RegisterOfUser">
                <div class="row">
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <input asp-for="@Model.FirstName" id="firstName" type="text" name="firstname" placeholder="First Name" class="form-control bg-white border-left-0 border-md" />
                        <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                    </div>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <input asp-for="@Model.LastName" id="lastName" type="text" name="lastname" placeholder="Last Name" class="form-control bg-white border-left-0 border-md">
                        <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-user"></i>
                            </span>
                        </div>
                        <input asp-for="@Model.FullName" id="fullName" type="text" name="fullName" placeholder="Full Name" class="form-control bg-white border-left-0 border-md">
                        <span asp-validation-for="@Model.FullName" class="text-danger"></span>
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-envelope "></i>
                            </span>
                        </div>
                        <input asp-for="@Model.Email" id="email" type="email" name="email" placeholder="Email Address" class="form-control bg-white border-left-0 border-md">
                        <span asp-validation-for="@Model.Email" class="text-danger"></span>
                    </div>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-phone-square"></i>
                            </span>
                        </div>
                        <input asp-for="@Model.PhoneNumber" id="phoneNumber" type="tel" name="phone" placeholder="Phone Number" class="form-control bg-white border-md border-left-0 pl-3">
                        <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group date" id="inputDate" data-date-format="mm-dd-yyyy">
                            <div class="input-group-addon date_icon">
                                <span class="input-group-text bg-white px-4 border-md border-right-0">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                            <input asp-for="@Model.BirthDate" type="text" class="form-control bg-white border-md border-left-0 pl-0" readonly>
                            <span asp-validation-for="@Model.BirthDate" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="input-group col-lg-12 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-address-book"></i>
                            </span>
                        </div>
                        <input asp-for="@Model.SSN" id="ssn" type="text" name="ssn" placeholder="National Number Id" class="form-control bg-white border-md border-left-0 pl-3">
                        <span asp-validation-for="@Model.SSN" class="text-danger"></span>
                    </div>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-address-book"></i>
                            </span>
                        </div>
                        <input asp-for="@Model.Insurance_No" id="insuranceNo" type="text" name="insuranceNo" placeholder="Insurance Number" class="form-control bg-white border-left-0 border-md">
                        <span asp-validation-for="@Model.Insurance_No" class="text-danger"></span>
                    </div>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-black-tie"></i>
                            </span>
                        </div>
                        <select asp-for="@Model.Gender" id="gender" name="gender" class="form-control custom-select bg-white border-left-0 border-md" id="inputGender" asp-items="Html.GetEnumSelectList<Gender>()">
                            <option value="NoSelected ">--Please Select Gender-- </option>
                        </select>
                        <span asp-validation-for="@Model.Gender" class="text-danger"></span>
                    </div>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input asp-for="@Model.Password" id="password" type="password" name="password" placeholder="Password" class="form-control bg-white border-left-0 border-md">
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                    <div class="input-group col-lg-6 mb-4">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-white px-4 border-md border-right-0">
                                <i class="fa fa-lock"></i>
                            </span>
                        </div>
                        <input asp-for="@Model.ConfirmPassword" id="passwordConfirmation" type="text" name="passwordConfirmation" placeholder="Confirm Password" class="form-control bg-white border-left-0 border-md">
                        <span asp-validation-for="@Model.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group col-lg-12 mx-auto mb-0">
                        <button type="submit" class="btn btn-primary btn-block py-2">
                            <span class="font-weight-bold">Create your account</span>
                        </button>
                    </div>

                    <div class="form-group col-lg-12 mx-auto d-flex align-items-center my-4">
                        <div class="border-bottom w-100 ml-5"></div>
                        <span class="px-2 small font-weight-bold "></span>
                        <div class="border-bottom w-100 mr-5"></div>
                    </div>

                   @* <div class="form-group col-lg-12 mx-auto">
                        <a href="#" class="btn btn-primary btn-block py-2 btn-facebook">
                            <i class="fa fa-facebook-f mr-2"></i>
                            <span class="font-weight-bold">Continue with Facebook</span>
                        </a>
                        <a href="#" class="btn btn-primary btn-block py-2 btn-twitter">
                            <i class="fa fa-twitter mr-2"></i>
                            <span class="font-weight-bold">Continue with Twitter</span>
                        </a>
                    </div>*@

                    <div class="text-center w-100">
                        <p class="text-muted font-weight-bold">Already Registered? <a asp-controller="Account" asp-action="Login" class="text-primary ml-2">Login</a></p>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        $(function () {
            $('input, select').on('focus', function () {
                $(this).parent().find('.input-group-text').css('border-color', '#80bdff');
            });
            $('input, select').on('blur', function () {
                $(this).parent().find('.input-group-text').css('border-color', '#ced4da');
            });
        });
    </script>
}
@*@section Scripts{
    <script>
        $("#ImageUrl").on("change", function () {
            var output = document.getElementById("ImageUrlPreview");
            output.src = $(this).val();
        })
    </script>
}*@