@model HeartDiseasePrediction.ViewModel.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password Page";
}

<div class="content">
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center h-100">  
            <div class="col-md-5 contents" style="padding-top:30px;padding-bottom:30px; margin-left:70px;">
                <div class="row ">
                    <div class="card card-body col-md-10 offset-0">
                        <form asp-action="ResetPassword">
                            @Html.AntiForgeryToken()
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group first">
                                <i class="fa fa-envelope "></i> <label asp-for="@Model.Email"></label>
                                <input asp-for="@Model.Email" type="text" class="form-control" id="Email" placeholder="Enter Your Email">
                                <span asp-validation-for="@Model.Email" class="text-danger"></span>
                            </div>
                            <div class="form-group last mb-4">
                                <i class="fa fa-lock"></i> <label asp-for="@Model.Password"></label>
                                <input asp-for="@Model.Password" type="password" class="form-control" id="password" placeholder="Enter Password">
                                <span asp-validation-for="@Model.Password" class="text-danger"></span>
                            </div>
                            <div class="form-group last mb-4">
                                <i class="fa fa-lock"></i> <label asp-for="@Model.ConfirmPassword"></label>
                                <input asp-for="@Model.ConfirmPassword" type="password" class="form-control" id="password" placeholder="Enter Password">
                                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <input type="submit" value="Reset Password" class="btn text-white btn-block btn-info">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}