@model HeartDiseasePrediction.Models.PrescriptionViewModel

@{
    ViewData["Title"] = "Create Prescription Page";
}

<section class="book_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <form asp-action="Create">
                    <h4>
                        Create <span>Prescription</span>
                    </h4>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-row ">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.PatientSSN" class="control-label"></label>
                            <input asp-for="@Model.PatientSSN" type="number" class="form-control" id="inputFullName">
                            <span asp-validation-for="@Model.PatientSSN" class="text-danger"></span>
                        </div>
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.DoctorId" class="control-label"></label>
                            <input asp-for="@Model.DoctorId" type="text" class="form-control" id="inputFullName">
                            <span asp-validation-for="@Model.DoctorId" class="text-danger"></span>
                        </div>
                        @*<div class="form-group col-lg-4">
                            <label asp-for="@Model.date"></label>
                            <div class="input-group date" id="inputDate" data-date-format="mm-dd-yyyy">
                                <input asp-for="@Model.date" type="text" class="form-control" readonly>
                                <span class="input-group-addon date_icon">
                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>*@
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-lg-6">
                            <label asp-for="@Model.MedicineName" class="control-label"></label>
                            <textarea asp-for="@Model.MedicineName" class="form-control-range" rows="4" cols="30"></textarea>
                            <span asp-validation-for="@Model.MedicineName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="btn-box">
                        <button type="submit" class="btn ">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}