@model IEnumerable<HeartDiseasePrediction.Models.DoctorViewModel>

@{
	ViewData["Title"] = "Doctors List Page";
}

<div class="container mt-4" style="margin:40px">
	<div class="row">
		<div class="col-md-12 offset-md-0">
			<div class="main-body">
				<nav aria-label="breadcrumb" class="main-breadcrumb ">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">Doctor</li>
						<li class="breadcrumb-item">List</li>
						<li class="breadcrumb-item active" aria-current="page">List of Doctors</li>
					</ol>
				</nav>
			</div>
			<div class="form-inline my-2 my-lg-0 d-flex">
				<a asp-controller="Account" asp-action="RegisterOfDoctor" class="btn btn-success">
					<i class="fa fa-plus-circle"></i> Add New
				</a>
			</div>
			@if (!Model.Any())
			{
				<div class="alert alert-warning" role="alert">
					No Doctors Found
				</div>
			}
			else
			{
				<div class="form-inline my-2 my-lg-0 d-flex" style="padding-left:66%">
					@using (Html.BeginForm("Index", "Doctor", FormMethod.Post))
					{
						@Html.TextBox("search",null,new{@class="form-control",placeholder="Search here...",style="margin:5px 0px 5px 5px"})
						<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
					}
				</div>
				<table class="table table-hover table-responsive table-striped">
					<thead>
						<tr class="text-center bg-dark text-light">
							@*<th>#</th>*@
							<th>FullName</th>
							<th>Email</th>
							<th>Specialization</th>
							<th>Gender</th>
							<th>Age</th>
							<th>Phone</th>
							<th></th>
							@*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
						{
						<th>Action</th>
						}*@

						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								@*<td class="align-middle text-center">
						<img class="rounded-circle" src="@item.ProfileImg" alt="@item.FullName" style="max-width:150px">
						</td>*@
								@*<td class="align-middle text-center">
						@item.Id
						</td>*@
								<td class="align-middle text-center">
									@item.User.FullName
								</td>
								<td class="align-middle text-center">
									@item.User.Email
								</td>
								<td class="align-middle text-center">
									@item.DoctorSpecialization.Name
								</td>
								<td class="align-middle text-center">
									@item.User.Gender
								</td>
								<td class="align-middle text-center">
									@item.User.Age
								</td>
								<td class="align-middle text-center">
									@item.User.PhoneNumber
								</td>
								<td class="align-middle text-center">
									<a class="btn btn-outline-primary" asp-controller="Doctor" asp-action="EditDoctor" asp-route-id="@item.Id"><i class="fa fa-pencil-square"></i> Edit</a> |
									<a class="btn btn-outline-info" asp-controller="Doctor" asp-action="DoctorDetails" asp-route-id="@item.Id"><i class="fa fa-eye"></i> Details</a> |
									<a class="btn btn-outline-danger " asp-controller="Doctor" asp-action="DeleteDoctor" asp-route-id="@item.Id" onclick="ConfirmDelete()"><i class="fa fa-trash"></i> Delete</a>
								</td>
								@*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
						{
						<td class="align-middle text-center">
						<a class="btn btn-outline-primary" asp-controller="Doctor" asp-action="Edit" asp-route-id="Id"><i class="fa fa-pencil-square"></i> Edit</a> |
						<a class="btn btn-outline-info" asp-controller="Doctor" asp-action="Details" asp-route-id="Id"><i class="fa fa-eye"></i> Details</a> |
						<a class="btn btn-outline-danger " asp-controller="Doctor" asp-action="Delete" asp-route-id="Id" onclick="ConfirmDelete()"><i class="fa fa-trash"></i> Delete</a>
						</td>
						}*@
							</tr>
						}
					</tbody>
				</table>
			}
		</div>
	</div>
</div>
@*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
	<div style="position:fixed; right:25px; bottom:65px;" class="text-white">
		<a asp-controller="Actor" asp-action="Create" class="btn btn-success">
			<i class="bi bi-plus-circle"></i> Add New
		</a>
	</div>
}*@

@*@section scripts{
	<script>
		$(document).ready(function){
			toastr.error("test")
		}
	</script>
}*@

<script>

	function ConfirmDelete() {
		document.getElementById("");
		var accept = confirm("Are You Sure to delete this actor?");
		if (accept == false) {
			event.preventDefault();
		}
	}
</script>