@model IEnumerable<HeartDiseasePrediction.Models.PatientViewModel>

@{
	ViewData["Title"] = "Patients List Page";
}

<div class="container mt-4" style="margin:40px">
	<div class="row">
		<div class="col-md-13 offset-md-0">
			<div class="main-body">
				<nav aria-label="breadcrumb" class="main-breadcrumb ">
					<ol class="breadcrumb">
						<li class="breadcrumb-item">Patients</li>
						<li class="breadcrumb-item">List</li>
						<li class="breadcrumb-item active" aria-current="page">List of Patients</li>
					</ol>
				</nav>
			</div>
			<div class="form-inline my-2 my-lg-0 d-flex">
				<a asp-controller="Account" asp-action="RegisterOfUser" class="btn btn-success">
					<i class="fa fa-plus-circle"></i> Add New
				</a>
			</div>
			@if (!Model.Any())
			{
				<div class="alert alert-warning" role="alert">
					No Patients Found
				</div>
			}
			else
			{
				<div class="form-inline my-2 my-lg-0 d-flex" style="padding-left:68%">
					@using (Html.BeginForm("Index", "Patient", FormMethod.Post))
					{
						@Html.TextBox("search",null,new{@class="form-control",placeholder="Search here...",style="margin:5px 0px 5px 5px"})
						<button class="btn btn-primary" type="submit"><i class="fa fa-search"></i> Search</button>
					}
				</div>
				<table class="table table-hover table-responsive table-striped" id="Patients">
					<thead>
						<tr class="text-center bg-dark text-light">
							<th>SSN</th>
							@*<th>InsuranceNo</th>*@
							<th>Email</th>
							<th>Full Name</th>
							<th>Age</th>
							<th>Phone</th>
							<th>	
							</th>
							@*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
						{
						<th>Action</th>
						}*@

						</tr>
					</thead>
					<tbody>
						@foreach (var item in Model)
						{
							<tr>
								@*<td class="align-middle text-center">
						<img class="rounded-circle" src="@item.ProfileImg" alt="@item.FullName" style="max-width:150px">
						</td>*@
								<td class="align-middle text-center">
									@item.SSN
								</td>
								@*<td class="align-middle text-center">
						@item.Insurance_No
						</td>*@
								<td class="align-middle text-center">
									@item.User.Email
								</td>
								<td class="align-middle text-center">
									@item.User.FullName
								</td>
								<td class="align-middle text-center">
									@item.User.Age
								</td>
								<td class="align-middle text-center">
									@item.User.PhoneNumber
								</td>
								<td class="align-middle text-center">
									<a class="btn btn-outline-primary" asp-controller="Patient" asp-action="EditPatient" asp-route-ssn="@item.SSN"><i class="fa fa-pencil-square"></i> Edit</a> |
									<a class="btn btn-outline-info" asp-controller="Patient" asp-action="PatientDetails" asp-route-ssn="@item.SSN"><i class="fa fa-eye"></i> Details</a> |
									<a class="btn btn-outline-danger " asp-controller="Patient" asp-action="DeletePatient" asp-route-ssn="@item.SSN" onclick="ConfirmDelete()"><i class="fa fa-trash"></i> Delete</a>
								</td>
								@*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
						{
						<td class="align-middle text-center">
						<a class="btn btn-outline-primary" asp-controller="Patient" asp-action="Edit" asp-route-ssn="@item.SSN"><i class="fa fa-pencil-square"></i> Edit</a> |
						<a class="btn btn-outline-info" asp-controller="Patient" asp-action="Details" asp-route-ssn="@item.SSN"><i class="fa fa-eye"></i> Details</a> |
						<a class="btn btn-outline-danger " asp-controller="Patient" asp-action="Delete" aasp-route-ssn="@item.SSN" onclick="ConfirmDelete()"><i class="fa fa-trash"></i> Delete</a>
						</td>
						}*@
							</tr>
						}
					</tbody>
				</table>
			}
		</div>
	</div>
</div>
@*@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
	<div style="position:fixed; right:25px; bottom:65px;" class="text-white">
		<a asp-controller="Actor" asp-action="Create" class="btn btn-success">
			<i class="bi bi-plus-circle"></i> Add New
		</a>
	</div>
}*@

<script>
	function ConfirmDelete() {
		document.getElementById("");
		var accept = confirm("Are You Sure to delete this actor?");
		if (accept == false) {
			event.preventDefault();
		}
	}
</script>