@model HeartDiseasePrediction.ViewModel.ReciptionistVM

@{
    ViewData["Title"] = "Reciptionist Update Page";
}

<section class="book_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col">
                <form asp-action="EditReciptionist" enctype="multipart/form-data">
                    <h4>
                        Update <span>Reciptionist</span>
                    </h4>
                    <div class="form-row ">
                        <div class="form-group col-lg-6">
                            <label asp-for="@Model.FullName" class="control-label"></label>
                            <input asp-for="@Model.FullName" type="text" class="form-control" id="inputFullName">
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.FirstName" class="control-label"></label>
                            <input asp-for="@Model.FirstName" type="text" class="form-control" id="inputFirstname">
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.LastName" class="control-label"></label>
                            <input asp-for="@Model.LastName" type="text" class="form-control" id="inputLastName">
                        </div>
                    </div>
                    <div class="form-row ">
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.PhoneNumber" class="control-label"></label>
                            <input asp-for="@Model.PhoneNumber" type="number" class="form-control" id="inputPhone">
                        </div>
                        @*<div class="form-group col-lg-3">
                            <label asp-for="@Model.Address" class="control-label"></label>
                            <input asp-for="@Model.Address" type="text" class="form-control" id="inputAddress">
                        </div>*@
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.Gender"></label>
                            <select asp-for="@Model.Gender" class="form-control wide" id="inputGender" asp-items="Html.GetEnumSelectList<Gender>()">
                                <option value="NoSelected ">--Please Select Gender-- </option>
                            </select>
                        </div>
                        <div class="form-group col-lg-3">
                            <label asp-for="@Model.BirthDate"></label>
                            <input asp-for="@Model.BirthDate" type="datetime" class="form-control">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-lg-4">
                            <label asp-for="@Model.Email"></label>
                            <input asp-for="@Model.Email" type="text" class="form-control" id="Email">
                        </div>
                        <div class="form-group col-lg-4" hidden>
                            <label asp-for="@Model.Id"></label>
                            <input asp-for="@Model.Id" type="text" class="form-control" id="Id">
                        </div>
                        <div class="">
                            <div class="form-group col-lg-5">
                                <img id="profilePicture" class="border-info rounded-circle" style="max-width:150px" />
                                <label asp-for="ProfileImg" class="w-100"></label>
                                <input accept="image/*" asp-for="ImageFile"
                                       onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                                <span asp-validation-for="ImageFile" class="text-danger"></span>
                                @*@if (@Model.ProfileImg != null)
                                {
                                    <img id="profilePicture" alt="profile" class="profile-picture" style="height:255px; width:255px; object-fit:cover" src="data:image/*;base64,@(Convert.ToBase64String(Model.ProfileImg))" />
                                }
                                else
                                {
                                    <img id="profilePicture" alt="profile" class="profile-picture" style="height:255px; width:255px; object-fit:cover" src="~/images/avater.png" />
                                }
                                <div class="custom-file mt-2">
                                    <input type="file"
                                           accept="image/*"
                                           asp-for="@Model.ProfileImg"
                                           class="custom-file-input"
                                           onchange="document.getElementById('profilePicture').src = window.URL.createObjectURL(this.files[0])" />
                                    <label class="custom-file-label" asp-for="@Model.ProfileImg">Choose picture...</label>
                                    <span asp-validation-for="@Model.ProfileImg" class="text-danger"></span>
                                </div>*@
                            </div>
                        </div>
                        @*<div class="form-group col-lg-4">
                            <label asp-for="@Model.Password"></label>
                            <input asp-for="@Model.Password" type="password" class="form-control" id="Password" disabled>
                        </div>*@
                    </div>
                    <div class="btn-box">
                        <button type="submit" class="btn ">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

@*@section Scripts{
    <script>
        $("#ImageUrl").on("change", function () {
            var output = document.getElementById("ImageUrlPreview");
            output.src = $(this).val();
        })
    </script>
}*@